*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('imagenes/fondo.jpg');
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        margin: 0;
}
.tateti{
    margin-top: 1rem;
    color: #fff;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tabla1 {
    border-collapse: collapse;
    margin-top: 2.3rem;
}

#tabla1 td {
    width: 7rem;
    height: 7rem;
    border: 3px inset rgb(125, 1, 86);
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

#tabla1 .cell.X {
    color: red;
}

#tabla1 .cell.O {
    color: blue;
}

#mensaje {
    color: #fff;
    position: absolute;
    top: 2.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

button {
    margin-top: 1.4rem;
    padding: 0.3rem;
    background-color: rgb(8, 15, 91);
    border-radius: 10px;
    color: #fff;
}

.imagen-jugador {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.derechos-de-autor {
    position: fixed;
        bottom: 15px;
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;

}