*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/947/208/1021/abstract-red-blue-digital-art-wallpaper-preview.jpg');
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        margin: 0;
        overflow: hidden;
}
.tateti{
    margin-top: 1rem;
    color: rgb(33, 33, 182);
    padding: 0.2rem;
    border-bottom: solid 1.5px rgb(136, 5, 5) ;
    border-radius: 10px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tabla1 {
    border-collapse: collapse;
    margin-top: 2.3rem;
}

#tabla1 td {
    width: 7rem;
    height: 7rem;
    border: 3px inset rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

#mensaje {
    color: #fff;
    position: absolute;
    top: 2.8rem;
    margin-top: 1rem;
    font-weight: bold;
}

button {
    margin-top: 1.4rem;
    padding: 0.3rem;
    background-color: rgb(1, 9, 99);
    border-radius: 10px;
    color: #fff;
}

.imagen-jugador {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes confeti-fall {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(calc(100vh + 10px));
    }
}
.confeti {
    position: absolute;
    width: 9px;
    height: 7px;
    top: -10px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    animation: confeti-fall 2s linear infinite;
}

.derechos-de-autor {
    margin-top: 1rem;
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

@media screen and (max-width:650px) {

    #tabla1 td{
        border: solid 2px rgb(162, 1, 1) ;
    }
    
    .confeti{
        width: 7px;
        height: 5px;
    }

    .derechos-de-autor{
        margin-top: 4rem;
    }
}