*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('imagenes/fondo.jpg');
}
.tateti{
    margin-top: 1rem;
    color: #fff;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tabla1 {
    border-collapse: collapse;
    margin-top: 2.3rem;
}

#tabla1 td {
    width: 7rem;
    height: 7rem;
    border: 2px solid rgb(74, 255, 33);
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
}

#tabla1 .cell.X {
    color: red;
}

#tabla1 .cell.O {
    color: blue;
}

#mensaje {
    color: #fff;
    position: absolute;
    top: 2.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

button {
    margin-top: 1.4rem;
    padding: 0.3rem;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.imagen-jugador {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}